<div class="profile-page">

    <div class="user-info">
        <div class="container">
            <div class="row">

                <div class="container">
                    <div class="profile">
                        <div class="profile-image">
                            <img [src]="profile.image"
                                alt="">
                        </div>
                        <div class="profile-user-settings">
                            <h1 class="profile-user-name">{{ profile.username }}</h1>
                            <a [routerLink]="['/settings']" [hidden]="!isUser"
                        class="btn profile-edit-btn">
                        <i class="ion-gear-a"></i> Edit Profile Settings
                    </a>
                        </div>
                        <div class="profile-stats">
                        </div>
                        <div class="profile-bio">
                            <p><span class="profile-real-name">Welcome to your profile {{ profile.username }}</span> 😺🐈🐈‍⬛</p>
                        </div>
                    </div>
                </div>

                <app-button-follow [profile]="profile" [hidden]="isUser" (toggle)="onToggleFollowing($event)">
                </app-button-follow>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1" *ngIf="isUser">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                [routerLink]="['/profile', profile.username]">
                                My Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                [routerLink]="['/profile', profile.username, 'favorites']">
                                Favorited Products
                            </a>
                        </li>
                    </ul>
                </div>
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>

</div>