<div id="container">
    <div class="product-details">
        <h1>{{product?.name}}</h1>
        <p class="information">{{product?.description}}</p>
        <div class="control">
            <button class="btn">
                <span class="price">{{product?.price}}€</span>
                <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <span class="buy">Buy Now</span>
            </button>
        </div>

    </div>
    <!-- <div class="product-image">
        <img src="https://sc01.alicdn.com/kf/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3/200006212/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3.jpg"
            alt="Omar Dsoky">
        <div class="info">
            <h2>The Description</h2>
            <ul>
                <li><strong>Sun Needs: </strong>Full Sun</li>
                <li><strong>Soil Needs: </strong>Damp</li>
                <li><strong>Zones: </strong>9 - 11</li>
                <li><strong>Height: </strong>2 - 3 feet</li>
                <li><strong>Blooms in: </strong>Mid‑Summer - Mid‑Fall</li>
                <li><strong>Features: </strong>Tolerates heat</li>
            </ul>
        </div>
    </div> -->
    <!-- <app-carousel [category] = "product.picture"></app-carousel> -->
</div>