<div id="container">
    <div class="product-details">
        <h1>{{product?.name}}</h1>
        <p class="information">{{product?.description}}</p>
        <div class="control">
            <button class="btn">
                <span class="price">{{product?.price}}€</span>
                <span class="shopping-cart">
                    <fa-icon [icon]="faShoppingCart" aria-hidden="true"></fa-icon>
                </span>
                <span class="buy">Buy Now</span>
            </button>
        </div>
    </div>
    <div class="snip1423">
        <div class="owner" (click)="redirectOwner()">
            Owner: {{product?.owner?.username}}
            <br>
            <img src="{{product?.owner?.image}}" style="width: 100px;">
        </div>
    </div>
    <div class="product-image">
        <app-carousel [products]="picture_product" [autoSlide]="true"></app-carousel>
    </div>
</div>