.container-filters {
    float: left;
    background-color: rgb(180, 251, 216);
    border: 2px rgb(188, 253, 189) solid;
    width: 22%;
    border-radius: 10%;
}

h5{
    margin-top: 10%;
    text-align: center;
}


/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    /* demo only */
}

.custom-dropdown select, p {
    background-color: #1abc9c;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    /* padding-right: 2.5em; */
    border: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::before {
    /*  Custom dropdown arrow cover */
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0, 0, 0, .3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0, 0, 0, .1);
}

.custom-dropdown::before {
    background-color: rgba(0, 0, 0, .15);
}

.order{
    cursor: pointer;
    text-align: center;
}

.input_price{
    width: 15%;
}

.div-price{
    margin-left: 1.5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button_class{
    border-radius: 60%;
    background-color: #4fddc1;
    border: 1px solid #1abc9c;;
}

.button_range{
    border-radius: 10px;
    background-color: #4fddc1;
    border: 1px solid #1abc9c;
    margin-top: 4%;
    margin-left: 27.5%;
}

.button_range_filter{
    border-radius: 10px;
    background-color: red;
    border: 1px solid red;
    margin-top: 4%;
    margin-left: 27.5%;
}