<div *ngIf="category.length > 0" class="carousel-container">
    <img *ngFor="let category of category; let i = index"
    src="{{category.category_picture}}"
    [ngClass]="{'image-active':selectIndex === i}" (click)="redirect(category.slug)">

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of category; let i = index" 
        class="dot"
        [ngClass]="{'active':selectIndex === i}"
        (click)="selectImage(i)"></span>
    </div>

    <div *ngIf="controls" class="btn-carousel btn-prev">
        <fa-icon [icon]="faArrowAltCircleLeft" (click)="onPrevClick()" class="icon-carousel icon-prev"></fa-icon>
    </div>

    <div *ngIf="controls" class="btn-carousel btn-next">
        <fa-icon [icon]="faArrowAltCircleRight" (click)="onNextClick()" class="icon-carousel icon-next"></fa-icon>
    </div>
</div>

<div *ngIf="products" class="carousel-container">
    <img *ngFor="let product of products; let i = index"
    src="{{product}}"
    [ngClass]="{'image-active':selectIndex_product === i}">

     <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of products; let i = index" 
        class="dot"
        [ngClass]="{'active':selectIndex_product === i}"
        (click)="selectImage(i)"></span>
    </div>
</div>