.carousel-container {
    position: relative;
    margin: auto;
    text-align: center;
    width: 100px;
    border-radius: 15px;
}

.carousel-container img{
    display: none;
    border-radius: 15px;
}

.carousel-container img.image-active{
    display: block;
    width: 100%;
    height: 70px;
}

.carousel-dot-container{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover{
    opacity: 1;
}