<div>
    <div *ngIf="!product">No product</div>
    <div *ngIf="product" (click)="redirect()">
        <figure class="snip1423">
            <img src="{{product.picture[0]}}" alt="" />
            <figcaption>
                <h3>{{product.name}}</h3>
                <p>{{product.description}}</p>
                <div class="price">
                    {{product.price}}€
                </div>
                <div class="likes">
                    Likes: {{product.likes}}
                </div>
                <div class="likes">
                    Category: {{product.category}}
                </div>
            </figcaption>
        </figure>
    </div>
</div>