<div>
    <div *ngIf="!product">No product</div>
    <div *ngIf="product">
        <figure class="snip1423" (click)="redirect()">
            <img src="{{product.picture[0]}}" alt="" />
            <figcaption>
                <h3>{{product.name}}</h3>
                <p>{{product.description}}</p>
                <div class="price">
                    {{product.price}}€
                </div>
                <div class="likes">
                    Likes: {{product.likes}}
                </div>
                <div class="likes">
                    Category: {{product.category}}
                </div>
            </figcaption>
        </figure>
        <div class="snip1423">
            <app-button-like [product]="product" (toggle)="deleteFromProfile($event)"></app-button-like>
            <div class="owner" routerLink="/profile/{{product.owner.username}}">

                Owner: {{product.owner.username}}
                <br>
                <img src="{{product.owner.image}}" style="width: 100px;">
            </div>
        </div>
    </div>
</div>