<div class="settings-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">

                <h1 class="text-xs-center">Your Settings</h1>

                 <form [formGroup]="settingsForm">
                    <fieldset [disabled]="isSubmitting" class="form-group">
                        <fieldset class="form-group">
                            <input formControlName="username" placeholder="Username"
                                class="form-control form-control-lg" type="text" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input formControlName="email" placeholder="Email" class="form-control form-control-lg"
                                type="text" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input formControlName="password" placeholder="Password"
                                class="form-control form-control-lg" type="password" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input formControlName="image" placeholder="URL Image"
                                class="form-control form-control-lg" type="text" />
                        </fieldset>
                        <button class="btn btn-lg btn-primary pull-xs-right"
                            type="submit" (click)="submitChange()">Submit
                        </button>
                    </fieldset>
                </form>

                <button class="btn btn-outline-danger" (click)="logout()">
                    Or click here to logout.
                </button>

            </div>
        </div>
    </div>
</div>