<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="./footer.component.css">
</head>
<footer>
    <div class="footer-basic">
       
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item">Proyect by Sergi Mico and Juan Luis Lopez</li>
                <li class="list-inline-item">Ies L'estacio 2 DAW</li>
            </ul>
            <p class="copyright"></p>
       
    </div>
</footer>

</html>

<!-- credit to https://epicbootstrap.com/snippets/footer-basic -->