<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <div class="footer-basic">

        <div class="social"><a href="https://github.com/sergimicoortiz"><i class="icon ion-social-github"></i></a><a
                href="https://github.com/JuanLuisLopez-code"><i class="icon ion-social-github"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item">Proyect by Sergi Mico and Juan Luis Lopez</li>
            <li class="list-inline-item">Ies L'estacio 2 DAW</li>
        </ul>
        <p class="copyright"></p>

    </div>
</footer>